button {
  border: none;
  outline: 0;
}

.popover-body {
  text-align: center;
}
@media (min-width: 992px) {
  .spaces {
    display: flex;
    flex-direction: row;
  }
}



@media (max-width: 479px) {
  .spaces .box-text-space {
    text-align: center;
  }
}





.spaces .box-space-photo {
  position: relative;
  padding: 0;
}

@media (min-width: 992px) {
  .spaces .box-space-photo .small-box-space-photo {
    width: 100%;
  }
}

.spaces .box-space-photo .small-box-space-photo .mini-box-space-photo {
  position: relative;
}

@media (min-width: 1200px) {
  .spaces .box-space-photo .small-box-space-photo .mini-box-space-photo {
    margin-left: -15px;
  }
}

.spaces .box-space-photo .small-box-space-photo .mini-box-space-photo > button {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: #f4ba41;
  position: absolute;
  text-align: center;
  line-height: 15px;
}


.spaces .box-space-photo .small-box-space-photo .mini-box-space-photo > button:hover {
  background-color: #fcda92;
}

.spaces .box-space-photo .small-box-space-photo .mini-box-space-photo > button > span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 2px solid #fff;
  font-family: normal;
  font-size: 39px;
  font-size: 39px;
  line-height: 35px;
  color: #fff;
  text-align: center;
}

.spaces .box-space-photo .small-box-space-photo .mini-box-space-photo > button.button1 {
  top: 8%;
  left: 57%;
}

.spaces .box-space-photo .small-box-space-photo .mini-box-space-photo > button.button2 {
  top: 35%;
  left: 44%;
}

.spaces .box-space-photo .small-box-space-photo .mini-box-space-photo > button.button3 {
  bottom: 10%;
  left: 80%;
}

.big-box-spaces {
  width: 100%;
  float: left;
  position: relative;
}


.popover {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  border: 13px solid #ccc;
  max-width: 100%;
  background-color: #fff;
  bottom: -39px !important;
}

@media (max-width: 479px) {
  .popover {
    width: 260px;
    height: 260px;
  }
}

.popover .arrow {
  display: none;
}

.popover .popover-header {
  text-align: center;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

.popover .popover-header .close {
  font-family: normal;
  font-size: 25px;
  color: #000;
  display: inline-block;
  opacity: 1;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -17.5px;
  background: url(http://ada2.solodev.net/core/fileparse.php/8/urlt/_resources/images/content/cross.png) no-repeat center center;
  text-indent: -10000px;
}

@media (max-width: 479px) {
  .popover .popover-header .close {
    top: 15px;
  }
}

.popover .popover-header {
  display: block;
  background-color: transparent;
  border: none;
  margin-top: 104px;
  font-family: Arial, Verdana;
  font-weight: 700;
  color: #0479c3;
  text-transform: uppercase;
}

@media (max-width: 479px) {
  .popover .popover-header {
    margin-top: 62px;

  }
}

.popover .popover-content {
  padding: 0 54px;
  font-family: "Helvetica", Arial, Verdana;
  font-size: 30px;
  font-weight: 400;
  color: #090a0e;
  text-align: center;
}

@media (max-width: 479px) {
  .popover .popover-content {
    padding: 0 37px;
    font-size: 16px;
  }
}
